<h1>Accordion Demo</h1>

<ykit-accordion>
    <ykit-expandable>
        <ykit-expandable-header>Header of expandable box</ykit-expandable-header>
        <ykit-expandable-content>Context of expandable box</ykit-expandable-content>
    </ykit-expandable>
    <ykit-expandable>
        <ykit-expandable-header>Header of expandable box</ykit-expandable-header>
        <ykit-expandable-content>Context of expandable box</ykit-expandable-content>
    </ykit-expandable>
    <ykit-expandable>
        <ykit-expandable-header>Header of expandable box</ykit-expandable-header>
        <ykit-expandable-content>Context of expandable box</ykit-expandable-content>
    </ykit-expandable>
    <ykit-expandable>
        <ykit-expandable-header>Header of expandable box</ykit-expandable-header>
        <ykit-expandable-content>Context of expandable box</ykit-expandable-content>
    </ykit-expandable>
</ykit-accordion>