<br>
<ykit-form-element>
    <ykit-form-label>Selector with default display value</ykit-form-label>
    <ykit-select
            [(ngModel)]="selectedValue"
            [options]="colors"
            displayField="name"
            [closeOnSelect]="false"
            searchPlaceholder="Custom search placeholder"
            noOptionsMessage="Custom no options message"
    ></ykit-select>
</ykit-form-element>

<br>
<ykit-form-element>
    <ykit-form-label>Selector with custom display value</ykit-form-label>
    <ykit-select [(ngModel)]="selectedValueForCustomDisplay" [options]="colors" displayField="name">
        <ykit-select-value *ngIf="selectedValueForCustomDisplay">
            <span [style.background-color]="selectedValueForCustomDisplay.rgb">{{selectedValueForCustomDisplay.name}}</span>
        </ykit-select-value>
    </ykit-select>
</ykit-form-element>

<br>
<ykit-form-element>
    <ykit-form-label>Selector with custom option display value</ykit-form-label>
    <ykit-select [(ngModel)]="selectedValueForCustomOptionDisplay" [options]="colors" displayField="name">
        <ng-template #optionTemplate let-option>
            <span [style.background-color]="option.rgb">{{option.name}}</span>
        </ng-template>
    </ykit-select>
</ykit-form-element>

<br>
<ykit-form-element>
    <ykit-form-label>Selector with empty value and default placeholder</ykit-form-label>
    <ykit-select [(ngModel)]="emptyValue" [options]="colors" displayField="name"></ykit-select>
</ykit-form-element>

<ykit-form-element>
    <ykit-form-label>Selector with empty value and custom placeholder</ykit-form-label>
    <ykit-select [(ngModel)]="emptyValue" [options]="colors" displayField="name">
        <ykit-select-no-value>Custom no-value placeholder</ykit-select-no-value>
    </ykit-select>
</ykit-form-element>

<br>
<ykit-form-element>
    <ykit-form-label>Selector with value field</ykit-form-label>
    <ykit-select [(ngModel)]="rgbValue" [options]="colors" displayField="name" valueField="rgb" [closeOnSelect]="false"></ykit-select>
    <ykit-form-message>Text value: {{rgbValue}}</ykit-form-message>
</ykit-form-element>
