<h1>Buttons demo</h1>

<button class="ykit-button ykit-button-s">Small Button</button>
<button class="ykit-button ykit-button-m">Medium Button</button>
<button class="ykit-button ykit-button-l">Large Button</button>

<button class="ykit-button ykit-button-info">Default Button</button>
<button class="ykit-button ykit-button-success">Submit Button</button>
<button class="ykit-button ykit-button-warning">Warning Button</button>
<button class="ykit-button ykit-button-danger">Danger Button</button>

<button class="ykit-button ykit-button-link">Link Button</button>

<br>
<br>
<div>
    <button class="ykit-button ykit-button-group">Left Button</button>
    <button class="ykit-button ykit-button-group">Center Button</button>
    <button class="ykit-button ykit-button-group">Another Center Button</button>
    <button class="ykit-button ykit-button-group">Right Button</button>
</div>

<br>
<br>
<div>
    <button class="ykit-button ykit-button-info" disabled>Default Button</button>
    <button class="ykit-button ykit-button-success" disabled>Submit Button</button>
    <button class="ykit-button ykit-button-warning" disabled>Warning Button</button>
    <button class="ykit-button ykit-button-danger" disabled>Danger Button</button>
</div>